
.grid-container {
  position: relative;
  bottom:20%;
  display: flex; 
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  
}

img{
  height: 100px;
  width: 100px;
  z-index: -1;
}


.movieBox{
  padding: 10px;
  border: 2px solid black;
  align-content: center;
  text-align: center;
}

.addForm{
  align-items: center;
  text-align: center;
}